<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="chatwoot" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Chatwoot</label>
            <tab>service</tab>
            <resource>CoolStudio_Chatwoot::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Chatwoot</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="website_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Website Token</label>
                    <comment>Enter your Chatwoot website token</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="base_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base URL</label>
                    <comment>Enter your Chatwoot base URL (e.g., https://app.chatwoot.com)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="hmac_secret" translate="label" type="obscure" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HMAC Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>For secure user identification. Get this from your Chatwoot settings.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="position" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Widget Position</label>
                    <source_model>CoolStudio\Chatwoot\Model\Config\Source\Position</source_model>
                    <comment>Position of the widget on the screen</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="widget_type" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Widget Type</label>
                    <source_model>CoolStudio\Chatwoot\Model\Config\Source\WidgetType</source_model>
                    <comment>Standard or Expanded widget display</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="launcher_title" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Launcher Title</label>
                    <comment>Custom text that appears on the launcher when widget is closed</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config> 